* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #080405;
}
.container{
  display: flex;
}
.carrousel{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.input{
  border: 1px solid #303138;
  background-color: transparent;
  padding: 8px 13px;
  width: 300px;
  border-radius: 4px;
  outline: none;
  margin: 8px 0px;
  color: #fff;
  height: 85px;
}
.cont_btn_backs{
  display: flex;
  width: 44vw;
  justify-content: center;
  align-items: center;
}
